.amount_bar__manage_input{
    width: 30px; 
    text-align: center;
}

/* .page_name{
} */


.page_name__h1{
    text-align: center;
}

.goods_basket{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 5px;
    right: 5px;
}

.basket_block{
    display: none;
    align-items: flex-start;
    justify-content: flex-end;
    position: fixed;
    top: 100px;
    right: 20px;
    background-color: rgb(217, 217, 236);
} 

.basket_block__header{
    margin: 20px 20px 20px 20px;
    text-align: left;
    font-size: 16pt;
    font-weight: 600;
}

.basket_block__main{
    display: flex;
    margin: 10px 20px 10px 20px;
    max-height: 180px;
    min-width: 180px;
    overflow: hidden;
    overflow-y: scroll;
    text-align: left;
}

.basket_block__sum{
    margin: 0px 20px 20px 20px;
    text-align: right;
}


.basket_block__footer{
    margin: 0px 10px 10px 10px;
    text-align: right;
}

.basket_block__footer_button{
    font-size: 14pt;
}

.order_block{
    position: fixed;
    z-index: 100;
    align-items: flex-start;
    justify-content: flex-end;
    top: 100px;
    left: 50%;
    margin-left: -150px;
    padding: 10px 20px 10px 20px;
    display: none; 
    flex-wrap: wrap;
    overflow: hidden;
    overflow-x: scroll;
    gap: 30px;
    flex-direction: column;
    background-color: aquamarine;
}

.order_block_header{
    font-size: 16pt;
    font-weight: 600;
}

.order_block__close{
    position: absolute;
    top: 10px;
    right: 20px;
}

.order_input{
    width: 260px;
    margin: 5px;
}

.order_entry_button{
    width: 100%;
    text-align: right;
}

.order_button{
    margin: auto;
    font-size: 12pt;
}

.succsess_block{
    position: fixed;
    z-index: 300;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -45px;
    padding: 5px 5px 5px 5px;
    display: none; 
    background-color: aquamarine;
    text-align: center;
}

.succsess_block_button{
    padding: 0px 10px 0px 0px;
    text-align: right;
}

.succsess_block_para{
    font-size: 16pt;
    font-weight: 700;
}

.table_blocks{ 
    width: 70%;
    margin: 5% 15% 5% 15%;
    text-align: center;
    display: flex; 
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
} 

.block{
    width: 30%;
    min-width: 200px;
    background: #ffffff;
    padding: 20px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* .good_img{} */

/* .good_name{} */

/* .amount_bar__manage{} */

/* .amount_bar__manage_decr{} */

/* .amount_bar__manage_input{} */

/* .amount_bar__manage_incr{} */
