.amount_bar__manage_input{
    width: 20px; 
    text-align: center;
}

.site_name__h1{
    text-align: center;
    float: center;
}

.goods_basket{
    float: right;
}

.basket_block{
    float: right;
}

.table_blocks{ 
  text-align: center;
  display: grid; 
  margin: 100px; 
  grid-template-columns:  repeat(3, 25%);
  gap: 12.5%;
  grid-template-rows: repeat(4, 200px); 
  /* background-color: beige;  */
} 
/*.table_blocks > div { 
  background-color: green; 
} */

.block{}

.good_img{}

.good_name{}

.amount_bar__manage{}

.amount_bar__manage_decr{}

.amount_bar__manage_input{}

.amount_bar__manage_incr{}
